@model IEnumerable<Booking.Models.Table>

@{
    ViewData["Title"] = "GetReservations";
}

<table class="table">
    <thead>
        <tr>
            <td>Ulica</td>
            <td>Numer stolika</td>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Restaurant.Street</td>
                <td>@item.Number</td>
            </tr>
        }
    </tbody>
</table>

